<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <targets>
      <target xsi:type="Debugger" name="Debug" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
      <target xsi:type="File" name="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
              maxArchiveFiles="20"
              fileName ="${specialfolder:folder=ApplicationData}"
archiveFileName="log.{####}.txt"
            archiveNumbering="Rolling"
              />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Debug, File" />
    </rules> 
  </nlog>
</configuration>